* {
	margin:0;
	padding:0;
	background:black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  background-color: black;

}
.grid-item {
    border-radius:3%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
.contact {
    background-color:red;
    color:white;
    font-size:0px;
    box-shadow: 2px 0px 100px 20px red;
    transform:scale(1);
    animation:shimmer 5s linear infinite;

}

.about {
    background-color:green;
    color:red;
    font-size:1px;
    box-shadow: 2px 0px 100px 20px green;
    transform:scale(1);
    animation:shimmer 5s linear infinite;

}

#home {
    background-color:blue;
    color:purple;
    font-size:0px;
    transform:scale(1);
    box-shadow: 2px 0px 100px 20px blue;
    animation:shimmer 5s linear infinite;

}


@keyframes shimmer {
    0% {
        filter:hue-rotate(0deg);
    }
    
    50% {
        filter:hue-rotate(360deg);
    }
}

.contact:hover {
     font-size: 20px;
    cursor:pointer	;
    transform:scale(1.5);
    background:red;
    color:white;
    box-shadow: 2px 0px 100px 100px red;

}


.about:hover {
     font-size: 20px;
    cursor:pointer	;
    transform:scale(1.5);
    background:green;
    color:white;
    box-shadow: 2px 0px 100px 100px green;
}
#home:hover {
     font-size: 20px;
    cursor:pointer	;
    transform:scale(1.5);
    background:blue;
    color:white;
    box-shadow: 2px 0px 100px 100px blue;
}