body {
    margin:0px;
    padding:0px;
    background-color:black;
    color:white;
}
button {
    height:100px;
    width:400px;
    background-color:orange;
}

header {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}
footer {
    background-color:black;
    color:white;
    padding:10px 20px;
}

div {
    background-color:pink;
    display:inline-block;
    margin:auto;  
    width:100px;
}


ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
li {
    display:inline-block;
    margin:0 20px;
}
.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
    
}

.show {
    opacity:1;
    filter: blur(0);
    filter: drop-shadow(10px 10px 50px green);
    transform: translateX(0)
}